<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nordnotes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>nordnotes</h1>
            <button><i class="fa-solid fa-plus"></i></button>
            <input type="text" placeholder="Search">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </header>
        <div class="card">
            <div class="cover">
                <img src="https://ia801401.us.archive.org/view_archive.php?archive=/32/items/l_covers_0008/l_covers_0008_57.tar&file=0008579190-L.jpg" />
            </div>
            <div class="book-details">
                <div class="title-section">
                    <h3>1984</h3>
                    <h4>George Orwell, 1951</h4>
                </div>
                <div class="rating-section">
                    <span>🌿🌿🌿🌿🌿</span>
                    <span>📱</span>
                </div>
                <div class="note-section">
                    <p>An absolute banger. A dystopian future past where a seemingly godlike collectivist oligarchy knows all and sees all.</p>
                    <p>2023-07-04</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>