body {
    background-color: #132E32;
    color: #FAF3DD;
}

.container {
    width: 750px;
    height: 100%;
    margin: auto;
}

.navbar-left h1 {
    display: inline;
}

.card {
    width: 100%;
    height: 320px;
    display: block;
    margin-top: 15px;
}

.cover {
    float: left;
    width: 25%;
}

.cover img {
    width: 100%;
    height: 315px;
}

.book-details {
    float: left;
    width: 70%;
    height: 100%;
    padding-left: 15px;
}

.title-section {
    float: left;
    width: 50%;
    height: 40%;
}

.rating-section {
    float: left;
    width: 50%;
    height: 40%;
}

.note-section {
    float: left;
    width: 100%;
    position: relative;
    height: 60%;
}

.note-section p {
    text-align: left;
}

.read-date {
    position: absolute;
    bottom: 0;
    margin-bottom: 5;
}

#rating-display {
    display: inline;
}